<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item *ngFor="let pg of pages" [routerLink]="['/pages',pg.id]">
      <ion-avatar slot="start">
        <ion-img [src]="pg.link"></ion-img>      
      </ion-avatar>
      <ion-label>
        {{pg.name}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="addNewPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
