<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pg.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delPage()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="pg.link"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>{{pg.name}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>{{pg.text}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-content>
  
</ion-content>
